<!DOCTYPE html>
<html>
<head>

</head>

<body bgcolor="#AAAAAA">

    <center><h1><u>{{h}}</u></h1></center>
    <h2><u>{{h_1}}</u></h2>
    <p>{{w}}</p>

    <h2><u>{{h_2}}</u></h2>
    <p>{{p}}</p>

    <h2><u>{{h_3}}</u></h2>
    <p>{{a}}</p>

    <h2><u>{{h_4}}</u></h2>
    <p>{{dm}}</p>

    <h2><u>{{h_5}}</u></h2>
    <p>{{php}}</p>

    <h2><u>{{h_6}}</u></h2>
    <p>{{s}}</p>

    <h2><u>{{h_7}}</u></h2>
    <p>{{ui}}</p>

    <h2><u>{{h_8}}</u></h2>
    <p>{{n}}</p>

    <h2><u>{{h_9}}</u></h2>
    <p>{{ad}}</p>

    <h5 style="text-align: right;">Today's Date & Time is : {{dt}}</h5> 

</body>

</html>