<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel = "stylesheet" href="{% static 'static2.css'%}">
</head>

<body bgcolor="#AAAAAA">
    <h1><u>{{g}}</u></h1>
    <center>
    <img src="{% static 'images/web design.jpg'%}">
    <img src="{% static 'images/python.png'%}">
    <img src="{% static 'images/Angularjs.jpg'%}">
    <img src="{% static 'images/digital_marketing.jpg'%}">
    <img src="{% static 'images/php.jpg'%}">
    <img src="{% static 'images/seo.jpg'%}">
    <img src="{% static 'images/ui.png'%}">
    <img src="{% static 'images/nodejs.png'%}">
    <img src="{% static 'images/adwords.jpg'%}">
</center>

<h5>Today's Date & Time is : {{dt}}</h5>




</body>

</html>